:host {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  border-bottom: 2px solid #074b7b;
}

#nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
}

#nav-left a {
  font-size: 22px;
  font-weight: bold;
}

#logo {
  height: 42px;
}

#logo img {
  height: 42px;
}

#nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 18px;
}

a {
  text-decoration: none;
  color: #074b7b;
}

#nav-right a {
  font-size: 14px;
  border-radius: 8px;
  padding: 5px 10px;
  transition: background-color ease 0.2s, color ease 0.2s;
}

.btn {
  color: white;
  background-color: #074b7b;
}

#nav-right a:hover {
  background-color: #2282b6;
  color: white;
}
