<div class="register-wrapper">
  <h2>Register</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        placeholder=""
        [class.error]="validationService.isControlInvalid(myForm, 'username')"
      />
      <label for="username">Username</label>
      @if (this.myForm.controls['username'].touched && this.myForm.controls['username'].invalid) {
        <div class="error-message">
          @if (this.myForm.controls['username'].errors?.['required']) {
            <div>Username is required.</div>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <input
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder=""
        [class.error]="validationService.isControlInvalid(myForm, 'email')"
      />
      <label for="email">E-mail</label>

      @if (this.myForm.controls['email'].touched && this.myForm.controls['email'].invalid) {
        <div class="error-message">
          @if (this.myForm.controls['email'].errors?.['required']) {
            <div>Email is required.</div>
          } @else if (this.myForm.controls['email'].errors?.['email']) {
            <div>Invalid email format.</div>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        placeholder=""
        [class.error]="validationService.isControlInvalid(myForm, 'password')"
      />
      <label for="password">Password</label>

      @if (this.myForm.controls['password'].touched && this.myForm.controls['password'].invalid) {
        <div class="error-message">
          @if (this.myForm.controls['password'].errors?.['required']) {
            <div>Password is required.</div>
          } @else if (this.myForm.controls['password'].errors?.['pattern']) {
            <div>Password must be strong.</div>
          }
        </div>
      }
    </div>

    @if (successMessage) {
      <div class="success-message">
        {{ successMessage }}
      </div>
    }

    <button type="submit" [disabled]="!myForm.valid" class="submit-button">
      Register
    </button>
  </form>
</div>
