:host {
  display: block;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.details-form__actions .app-btn mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

textarea.app-input {
  resize: vertical;
  min-height: 80px;
}
