:host {
  width: calc(100vw - 250px);
  justify-content: center;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 20px;
  margin: 20px auto 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.back-button {
  position: fixed;
  top: 70px;
  left: 20px;
}

button[color="primary"] {
  margin-top: 16px;
  width: 200px;
  align-self: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3f51b5;
}

mat-form-field {
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
}
