.back-button {
  position: fixed;
  top: 70px;
  left: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: self-start;
  padding: 20px;
  margin: 20px auto 0;
}

.container-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
