:host {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg);
}

.row {
  flex: 1 1;
  display: flex;
  transition: flex var(--transition-base);
}

.flexUp {
  flex: 2 2;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
  }
}
